<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="NewsletterSubscription.UseDoubleOptInForSubscription" value="true"></setting>
        </settings>
        <exm>
            <!--                
                Service to get and save marketing preferences for a specific contact for a specific manager root
                
                Config is taken from Sitecore.EmailExerience.ContentDelivery.config,
                because client.SubmitAsync() in the SavePreferences method doesn't work as expected, MarketingPreferences was not saved correctly!
                So I have to do my custom implementation of the MarketingPreferencesService and change the client.SubmitAsync() to client.Submit() and everything works fine!
                This seems to be a bug in Sitecore and it's a performance leck as well!
            -->
            <customMarketingPreferencesService type="Feature.SitecoreForms.MarketingCategoriesSubscription.Exm.Services.MarketingPreferences.CustomMarketingPreferencesService, Feature.SitecoreForms.MarketingCategoriesSubscription" resolve="true">
                <!-- Delay in milliseconds between retries when saving the preferences -->
                <Delay>100</Delay>
                <!-- Number of retry attempts -->
                <RetryCount>3</RetryCount>
            </customMarketingPreferencesService>
        </exm>
    </sitecore>
</configuration>
