<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore exmEnabled:require="yes">
        <services>
            <configurator type="Feature.SitecoreForms.MarketingCategoriesSubscription.Configuration.MarketingCategoriesSubscriptionComponentConfigurator, Feature.SitecoreForms.MarketingCategoriesSubscription" />

            <register role:require="!DedicatedDispatch and (Standalone or ContentManagement)"
                      serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[Feature.SitecoreForms.MarketingCategoriesSubscription.Exm.Messaging.SubscribeContactMessage, Feature.SitecoreForms.MarketingCategoriesSubscription]],  Sitecore.Framework.Messaging.Abstractions"
                      implementationType="Feature.SitecoreForms.MarketingCategoriesSubscription.Exm.Messaging.SubscribeContactMessageHandler, Feature.SitecoreForms.MarketingCategoriesSubscription"
                      lifetime="Transient" />
        </services>

        <pipelines>
            <initialize>
                <!-- Initializes the message bus for sending automated messages -->
                <processor type="Feature.SitecoreForms.MarketingCategoriesSubscription.Exm.Messaging.InitializeMessageBus, Feature.SitecoreForms.MarketingCategoriesSubscription" role:require="Standalone or ContentDelivery or ContentManagement" resolve="true" />
            </initialize>
        </pipelines>

        <Messaging>
            <Rebus>
                <Feature.SitecoreForms.MarketingCategoriesSubscription.Exm.Messaging.SubscribeContactMessagesBus role:require="!DedicatedDispatch">
                    <Transport>
                        <SqlServer>
                            <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
                            <OneWay role:require="ContentDelivery">true</OneWay>
                            <ConnectionStringOrName>messaging</ConnectionStringOrName>
                            <TableName>Sitecore_Transport</TableName>
                            <InputQueueName>SubscribeContactMessagesQueue</InputQueueName>
                        </SqlServer>
                    </Transport>
                    <Routing>
                        <TypeBasedMappings>
                            <TypeMappings>
                                <SubscribeContactMessageMapping>
                                    <Type>Feature.SitecoreForms.MarketingCategoriesSubscription.Exm.Messaging.SubscribeContactMessage, Feature.SitecoreForms.MarketingCategoriesSubscription</Type>
                                    <DestinationQueue>SubscribeContactMessagesQueue</DestinationQueue>
                                </SubscribeContactMessageMapping>
                            </TypeMappings>
                        </TypeBasedMappings>
                    </Routing>
                    <Options role:require="Standalone or ContentManagement">
                        <SetNumberOfWorkers>1</SetNumberOfWorkers>
                        <SimpleRetryStrategy>
                            <ErrorQueueAddress>Error</ErrorQueueAddress>
                            <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
                            <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
                        </SimpleRetryStrategy>
                    </Options>
                    <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
                </Feature.SitecoreForms.MarketingCategoriesSubscription.Exm.Messaging.SubscribeContactMessagesBus>
            </Rebus>
        </Messaging>
    </sitecore>
</configuration>
