<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <pipelines>
            <!--
                Note: This configuration is taken from Sitecore Forms Extensions: https://github.com/bartverdonck/Sitecore-Forms-Extensions
                ToDo: Review this when upgrading to Sitecore 9.3
            --> 
            <forms.renderForm>
                <processor patch:before="*[1]" type="Feature.SitecoreForms.MarketingCategoriesSubscription.Forms.Pipelines.ShowFormPage.ShowFormPageNavigationLoader, Feature.SitecoreForms.MarketingCategoriesSubscription" resolve="true" />
            </forms.renderForm>
        </pipelines>
    </sitecore>
</configuration>
